body{
    margin: 0;
    background-color: black;
    }

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

header{
    display: flex;
    justify-content: space-between;
    background-color: brown;
    align-items: center;}

ul {
    list-style: none;
}

.logo {
    display: flex;
    align-items: center;}

.logo-titulo{
    height: 60px;
    margin-left: 10px;
    margin-right: 10px;
    }

a{
    text-decoration: none;
    color: orangered;}

.secciones a{
    padding-right: 10px;
    font-size: 25px;
    }

a:hover{
    color: black
}

.banda{
    text-align: center;
    
    }

@media(max-width:800px){
.banda{
    height: 300px;
}
}

.titulo{
    color:white;
    text-align: center;
    font-size: 40px;
    background-color: brown;
    
    }

.letras{
    color: white;
    text-align: center;
    font-size: 20px;
    }

.titulo-instagram{
    color: white;
    margin-left: 210px;
    margin-top: 100px;
    font-size: 50px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: inline;
    }

.container-flex{
    display: flex;
}

.grid-container{
    display: grid; 
    grid-template-columns: repeat(3, 150px);
    margin-left: 100px;
    margin-top: 50px;
    padding: 20px;
}

.grid-container1{
    display: grid;
    grid-template-columns: repeat(3, 150px);
    margin-left: 150px;
    margin-top: 50px;
}

@media(max-width:680px){
    .container-flex{
        flex-direction: column;
    }
}

@media(min-width:680px) and (max-width:1200px){
    .container-flex{
        flex-direction: column;
    }
    .grid-container{
        margin-left: 200px;
    }
    .titulo-instagram{
        margin-left: 350px;
    }
    .grid-container1{
        margin-left: 220px;
    }
}

@media(min-width:1600px) and (max-width:2000px){
    .grid-container1{
        margin-left: 600px;
    }
    #titulo-shop{
        padding: 480px;
    }
}

@media(min-width:2001px){
    .grid-container1{
        margin-left: 900px;
    }
    #titulo-shop{
        padding: 700px;
    }
}



#titulo-shop{
    display: inline;
    margin-left: 310px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    color: white;
}

.grid-item{
    height: 100px;
}

.grid-item:hover{
    filter: opacity(0.4);
}

.footer{
    background-color: brown;
    text-align: center;
    margin-top: 300px;
    }

.biografia1 {
    color: white;
    display: flex;
    }

.imagen1{
    margin-left: 60px;
    margin-right: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 400px;
    }


.biografia2{
    color: white;
    display: flex;
    margin-top: 40px;
    }

.imagen2{
    height: 450px;
    margin-top: 20px;
    margin-right: 80px;
    margin-left: 40px;
    margin-bottom: 20px;
    }

.biografia3{
    color: white;
    display: flex;
    margin-top: 40px;
    }

.imagen3{
    height: 400px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 20px;
    }

.biografia4{
    color: white;
    display: flex;
    margin-top: 40px;
    }

.imagen4{
    height: 400px;
    margin-right: 40px;
    margin-left: 40px;
    margin-bottom: 20px;
    }

.titulo1{
    color: black;
    text-align: center;
    background-color: chocolate;
    }

@media(max-width: 750px) {
    .imagen1{
        height: 250px;
        width: 250px;
    }
    .imagen2{
        height: 200px;
    }
    .imagen3{
        height: 200px;
    }
    .imagen4{
        height: 200px;
    }
}

@media(max-width:500px){
    .biografia1{
        float: left;
        font-size: 12px;
    }
    .biografia2{
        float: left;
        font-size: 12px;
    }
    .biografia3{
        float: left;
        font-size: 12px;
    }
    .biografia4{
        float: left;
        font-size: 7px;
    }
    .imagen1{
        height: 160px;
        width: 160px;
    }
    .imagen2{
        height: 160px;
        width: 160px;
    }
    .imagen3{
        height: 160px;
        width: 160px;
    }
    .imagen4{
        height: 160px;
        width: 160px;
    }
    }

    @media(max-width:350px){
        .biografia1{
            float: left;
            font-size: 8px;
        }
        .biografia2{
            float: left;
            font-size: 9px;
        }
        .biografia3{
            float: left;
            font-size: 9px;
        }
        .biografia4{
            float: left;
            font-size: 7px;
        }
        .imagen1{
            height:100px;
            width:100px;
            margin-left: 0;
        }
        .imagen2{
            height: 130px;
            width: 130px;
            margin-right: 0;
        }
        .imagen3{
            height: 160px;
            width: 160px;
            margin-left: 0;
        }
        .imagen4{
            height: 160px;
            width: 160px;
            margin-right: 0;
        }
        }

.albums{
    color: white;
    text-align: center;
    margin-top: 30px;
    }

.portadas{
    height: 400px;
    margin-top: 35px;
    margin-bottom: 35px;
    }

.tituloalbum1{
    color:white;
    background-color: blueviolet;
    }

.tituloalbum2{
    color: black;
    background-color: blue;
    }

.tituloalbum3{
    color:chocolate;
    background-color: brown;
    }

.tituloalbum4{
    color: black;
    background-color: red;
    }

.tituloalbum5{
    color: white;
    background-color:darkkhaki;
    }

.tabla{
    color: white;
    box-sizing: border-box;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    border: 2px white;
    margin-top: 50px;
    }

@media(max-width:400px){
    .portadas{
    height: 300px;
    }
    .albums{
        font-size: 10px;
    }
}

@media(max-width:300px){
    .portadas{
    height: 200px;
    }
    .albums{
        font-size: 7px;
    }
}

.tour{
    text-align: center;
    color: red;
    display: block;
    }

.contacto{
    color: white;
    text-align: center;
    }

.listas1{
    color:blueviolet;
    margin-top: 10px;
    }

.listas2{
    color:blue;
    margin-top: 10px;
    }

    .listas3{
    color:rgb(218, 120, 8);
    margin-top: 10px;
    }

.listas4{
    color:red;
    margin-top: 10px;
    }

.listas5{
    color:yellow;
    margin-top: 10px;
    }

.listas-titulo1{
    color: blueviolet;
    margin-top: 10px;
    }

    .listas-titulo2{
        color: blue;
        margin-top: 10px;
    }

    .listas-titulo3{
        color: rgb(218, 120, 8);
        margin-top: 10px;
    }

    .listas-titulo4{
        color: red;
        margin-top: 10px;
    }

    .listas-titulo5{
        color: yellow;
        margin-top: 10px;
    }
