.secciones{
    text-decoration: none;
    color: $color-text}
    a{
    padding-right: 10px;
    font-size: 25px;
    }

    .letras{
        color: $color-text-secondary;
        text-align: center;
        font-size: 20px;
        }